<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sca.jpeojtrs.mil/sad"
            class="mil.jpeojtrs.sca.sad.SadPackage"
            genModel="model/sad.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="mil.jpeojtrs.sca.sad.content-type"
            class="mil.jpeojtrs.sca.sad.util.SadResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="*.sad.xml"
            id="mil.jpeojtrs.sca.sad.content-type"
            name="%_UI_Sad_content_type"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2"
               plugin="org.eclipse.core.runtime">
            <parameter
                  name="element"
                  value="softwareassembly">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
