<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sca.jpeojtrs.mil/profile"
            class="mil.jpeojtrs.sca.profile.ProfilePackage"
            genModel="model/profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="mil.jpeojtrs.sca.profile.content-type"
            class="mil.jpeojtrs.sca.profile.util.ProfileResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="mil.jpeojtrs.sca.profile.content-type"
            name="%_UI_Profile_content_type"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2"
               plugin="org.eclipse.core.runtime">
            <parameter
                  name="element"
                  value="profile">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
