<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sca.jpeojtrs.mil/partitioning"
            class="mil.jpeojtrs.sca.partitioning.PartitioningPackage"
            genModel="model/partitioning.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="partitioning"
            class="mil.jpeojtrs.sca.partitioning.util.PartitioningResourceFactoryImpl"/>
   </extension>

</plugin>
